<div class="col-lg-12">
    <table  class="table table-hover" cellspacing="0" >
        <thead>
        <tr>
          <th>Naziv knjige: </th>
              <th>Autor: </th>
              <th>Žanr: </th>

      <th>Opis: </th>
      <th>Cena: </th>
              <th>Brisanje: </th>
       <th>Naručivanje: </th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let servis of servisi">
          <td>{{servis.naziv_knjige}}</td>
            <td>{{servis.autor}}</td>
            <td>{{servis.ZANR_NAZIV}}</td>

    <td>{{servis.opis}}</td>
    <td>{{servis.cena}}</td>
    <td>
           <button class="btn btn-danger" title="remove" (click)="removeServis(servis.knjige_ID)">



               <span class="glyphicon glyphicon-remove"></span>

            </button>
         </td>
         <td>

         				     <button type="button" class="btn btn-primary" title ="addCart" (click)="editItem(servis)">Naruči</button></td>
                     </tr>
        </tr>
        </tbody>
    </table>

</div>
