<div class="row">
    <div class="col-sm-6 col-sm-offset-3" >
        <form role="form" [formGroup]="loginForm">
            <div class="alert alert-danger" style="display: none;">
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" class="form-control" formControlName='username' [ngModel] = 'name'>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control" formControlName='password'>
            </div>

            <br>
            <div class="form-group">
                <div class="checkbox">
                    <label><input type="checkbox" formControlName='checkbox'>Check if admin!</label>
                </div>
                <button (click)="onLogin()" class="btn btn-default">Login</button>
            </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="assets/js/bootstrap.js"></script>